.conteudo{
    border-radius: 5px;
    padding-top: 2px;
    background-color: #dfdfdf;
}

.row{
    margin-top: 5px;
    margin-bottom: 5px;
}

p{
    font-family: Copperplate;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.dadoscadastrados{
    text-align: center;
}

.notas{
    margin-top: 50px;    
}

.espaco{
    padding-top: 300px;
}